# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore build output
dist

# Ignore environment files
.env

# Ignore Dockerfile and .dockerignore
Dockerfile
.dockerignore

# Ignore other unnecessary files
.git
.gitignore
npm-debug.log 